@charset "UTF-8";
body {
  background-color: #f5f7f4;
  font-family: 'M PLUS Rounded 1c',sans-serif;
  color: #251d1c;
  margin: 0;
  width: 100vw;
  font-size: 12px;
  line-height: 2.2em;
  font-weight: lighter;
  word-break: break-all;
}

body p {
  margin: 0;
}

body a {
  text-decoration: none;
  color: #1F0000;
}

body header {
  position: fixed;
  z-index: 90;
  left: 7vw;
  top: 4vw;
}

@media screen and (max-width: 480px) {
  body header {
    left: 4vw;
  }
}

body header > img {
  width: auto;
  height: 55px;
  margin-bottom: 24px;
}

@media screen and (max-width: 480px) {
  body header > img {
    height: 40px;
    margin-bottom: 40px;
  }
}

body header nav {
  list-style: none;
}

body header nav li {
  list-style: none;
  margin-bottom: 24px;
  height: 20px;
  display: flex;
}

@media (max-width: 480px) {
  body header nav li {
    display: none;
  }
}

body header nav li a {
  display: block;
  width: 100%;
}

body header nav li img {
  height: 20px;
  padding: 2px 6px;
}

@media screen and (max-width: 480px) {
  body header nav li img {
    height: 16px;
  }
}

body header nav .link-current {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #e2d5d1;
}

body .page-wrapper {
  text-align: center;
}

body .page-wrapper #first-view {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body .page-wrapper #first-view .fv-wrapper {
  margin-bottom: 56px;
}

body .page-wrapper #first-view .fv-wrapper img {
  display: block;
  margin: 0 auto;
  position: relative;
}

body .page-wrapper #first-view .fv-wrapper img:nth-child(1) {
  width: 30px;
  margin-bottom: -17px;
}

@media screen and (max-width: 480px) {
  body .page-wrapper #first-view .fv-wrapper img:nth-child(1) {
    width: 19px;
    margin-bottom: -10px;
  }
}

body .page-wrapper #first-view .fv-wrapper #svg_001 {
  z-index: 20;
  width: 400px;
}

@media screen and (max-width: 480px) {
  body .page-wrapper #first-view .fv-wrapper #svg_001 {
    width: 236px;
  }
}

body .page-wrapper #first-view .fv-wrapper #svg_002 {
  margin-top: -88px;
  z-index: -1;
  width: 400px;
  position: relative;
}

@media screen and (max-width: 480px) {
  body .page-wrapper #first-view .fv-wrapper #svg_002 {
    width: 236px;
    margin-bottom: 9px;
  }
}

body .page-wrapper #first-view .fv-wrapper .chon-img {
  animation: flicker 5s linear infinite;
  visibility: hidden;
}

@keyframes flicker {
  from {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  58% {
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  68% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  98% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

body .page-wrapper .title {
  height: 28px;
  border-bottom: solid 3px #e1d7d3;
  margin-bottom: 80px;
  margin-top: 80px;
}

@media screen and (max-width: 1024px) {
  body .page-wrapper .title {
    height: 24px;
  }
}

@media screen and (max-width: 480px) {
  body .page-wrapper .title {
    height: 17px;
    margin-bottom: 48px;
  }
}

body .page-wrapper #works-wrapper {
  margin: 100px auto 200px;
  width: 1000px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  body .page-wrapper #works-wrapper {
    width: 570px;
  }
}

@media screen and (max-width: 480px) {
  body .page-wrapper #works-wrapper {
    width: 240px;
    margin: 100px auto 100px;
  }
}

body .page-wrapper #works-wrapper .works-main {
  background-color: #e9dfdb;
  display: flex;
  padding: 80px 30px;
}

@media screen and (max-width: 1024px) {
  body .page-wrapper #works-wrapper .works-main {
    display: block;
    padding: 48px 30px;
  }
}

@media screen and (max-width: 480px) {
  body .page-wrapper #works-wrapper .works-main {
    padding: 32px 10px 48px;
  }
}

body .page-wrapper #works-wrapper .works-main img {
  height: 328px;
}

@media screen and (max-width: 1024px) {
  body .page-wrapper #works-wrapper .works-main img {
    height: 288px;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 480px) {
  body .page-wrapper #works-wrapper .works-main img {
    height: 128px;
    margin-bottom: 0;
  }
}

body .page-wrapper #works-wrapper .works-main .wm-intro {
  padding-top: 16px;
  text-align: left;
  margin-left: 47px;
}

@media screen and (max-width: 480px) {
  body .page-wrapper #works-wrapper .works-main .wm-intro {
    margin-left: 12px;
  }
}

body .page-wrapper #works-wrapper .works-main .wm-intro a {
  float: none;
}

body .page-wrapper #works-wrapper .works-main .wm-intro .wm-title {
  font-size: 28px;
}

@media screen and (max-width: 1024px) {
  body .page-wrapper #works-wrapper .works-main .wm-intro .wm-title {
    font-size: 24px;
  }
}

@media screen and (max-width: 480px) {
  body .page-wrapper #works-wrapper .works-main .wm-intro .wm-title {
    font-size: 20px;
  }
}

body .page-wrapper #works-wrapper .works-main .wm-intro .wm-data, body .page-wrapper #works-wrapper .works-main .wm-intro .wm-outline {
  margin-bottom: 30px;
}

@media screen and (max-width: 1024px) {
  body .page-wrapper #works-wrapper .works-main .wm-intro .wm-data, body .page-wrapper #works-wrapper .works-main .wm-intro .wm-outline {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 480px) {
  body .page-wrapper #works-wrapper .works-main .wm-intro .wm-data, body .page-wrapper #works-wrapper .works-main .wm-intro .wm-outline {
    font-size: 11px;
  }
}

body .page-wrapper #works-wrapper .works-main .wm-intro .wm-sentence {
  margin-bottom: 20px;
}

@media screen and (max-width: 1024px) {
  body .page-wrapper #works-wrapper .works-main .wm-intro .wm-sentence {
    margin-bottom: 8px;
  }
}

body .page-wrapper #works-wrapper .works-main .wm-intro a {
  color: #b96970;
}

body .page-wrapper #works-wrapper .sub-works-wrapper {
  display: flex;
  flex-wrap: wrap;
}

body .page-wrapper #works-wrapper .sub-works-wrapper .sub-work {
  width: 250px;
  height: 240px;
}

@media screen and (max-width: 1024px) {
  body .page-wrapper #works-wrapper .sub-works-wrapper .sub-work {
    width: 190px;
    height: 188px;
  }
}

@media screen and (max-width: 480px) {
  body .page-wrapper #works-wrapper .sub-works-wrapper .sub-work {
    width: 120px;
    height: 130px;
  }
}

body .page-wrapper #works-wrapper .sub-works-wrapper .sub-work > p {
  height: 198px;
}

@media screen and (max-width: 1024px) {
  body .page-wrapper #works-wrapper .sub-works-wrapper .sub-work > p {
    height: 150px;
  }
}

@media screen and (max-width: 480px) {
  body .page-wrapper #works-wrapper .sub-works-wrapper .sub-work > p {
    height: 96px;
  }
}

body .page-wrapper #works-wrapper .sub-works-wrapper .sub-work img {
  height: 140px;
  padding-top: 40px;
}

@media screen and (max-width: 1024px) {
  body .page-wrapper #works-wrapper .sub-works-wrapper .sub-work img {
    height: 100px;
  }
}

@media screen and (max-width: 480px) {
  body .page-wrapper #works-wrapper .sub-works-wrapper .sub-work img {
    height: 60px;
    padding-top: 25px;
  }
}

body .page-wrapper #works-wrapper .sub-works-wrapper .sub-work .sp-img {
  height: 164px;
  padding-top: 28px;
}

@media screen and (max-width: 1024px) {
  body .page-wrapper #works-wrapper .sub-works-wrapper .sub-work .sp-img {
    height: 120px;
    padding-top: 24px;
  }
}

@media screen and (max-width: 480px) {
  body .page-wrapper #works-wrapper .sub-works-wrapper .sub-work .sp-img {
    height: 73px;
    padding-top: 18px;
  }
}

body .page-wrapper #works-wrapper .sub-works-wrapper .sub-work .teki-img {
  height: 88px;
  padding-top: 64px;
}

@media screen and (max-width: 1024px) {
  body .page-wrapper #works-wrapper .sub-works-wrapper .sub-work .teki-img {
    height: 64px;
    padding-top: 56px;
  }
}

@media screen and (max-width: 480px) {
  body .page-wrapper #works-wrapper .sub-works-wrapper .sub-work .teki-img {
    height: 43px;
    padding-top: 36px;
  }
}

body .page-wrapper #works-wrapper .sub-works-wrapper .sub-work .sw-title {
  text-align: left;
  padding-left: 24px;
}

@media screen and (max-width: 480px) {
  body .page-wrapper #works-wrapper .sub-works-wrapper .sub-work .sw-title {
    padding-left: 14px;
  }
}

body .page-wrapper #works-wrapper .sub-works-wrapper .sub-work:nth-child(1) {
  background-color: #ede3d4;
}

body .page-wrapper #works-wrapper .sub-works-wrapper .sub-work:nth-child(2) {
  background-color: #eae7ed;
}

body .page-wrapper #works-wrapper .sub-works-wrapper .sub-work:nth-child(3) {
  background-color: #efdcdc;
}

body .page-wrapper #works-wrapper .sub-works-wrapper .sub-work:nth-child(4) {
  background-color: #ebecee;
}

body .page-wrapper #works-wrapper .sub-works-wrapper .sub-work:nth-child(5) {
  background-color: #f0dddd;
}

body .page-wrapper #works-wrapper .sub-works-wrapper .sub-work:nth-child(6) {
  background-color: #ebecee;
}

body .page-wrapper #about-wrapper {
  margin: 100px auto 200px;
  width: 1000px;
}

@media screen and (max-width: 1024px) {
  body .page-wrapper #about-wrapper {
    width: 570px;
  }
}

@media screen and (max-width: 480px) {
  body .page-wrapper #about-wrapper {
    width: 240px;
    margin: 100px auto;
  }
}

body .page-wrapper #about-wrapper .about-frex {
  display: flex;
  margin-top: 48px;
}

@media screen and (max-width: 480px) {
  body .page-wrapper #about-wrapper .about-frex {
    margin-top: 21px;
  }
}

body .page-wrapper #about-wrapper .about-frex .about-imgs {
  position: relative;
  left: 104px;
}

@media screen and (max-width: 1024px) {
  body .page-wrapper #about-wrapper .about-frex .about-imgs {
    left: 48px;
  }
}

@media screen and (max-width: 480px) {
  body .page-wrapper #about-wrapper .about-frex .about-imgs {
    left: 3px;
  }
}

body .page-wrapper #about-wrapper .about-frex .about-imgs .circle {
  width: 272px;
  height: 272px;
  border-radius: 50%;
  background-color: #e2d5d1;
}

@media screen and (max-width: 1024px) {
  body .page-wrapper #about-wrapper .about-frex .about-imgs .circle {
    width: 180px;
    height: 180px;
  }
}

@media screen and (max-width: 480px) {
  body .page-wrapper #about-wrapper .about-frex .about-imgs .circle {
    height: 130px;
    width: 130px;
  }
}

body .page-wrapper #about-wrapper .about-frex .about-imgs img {
  height: 272px;
  position: absolute;
  left: 56px;
  top: 84px;
}

@media screen and (max-width: 1024px) {
  body .page-wrapper #about-wrapper .about-frex .about-imgs img {
    height: 180px;
    left: 24px;
    top: 48px;
  }
}

@media screen and (max-width: 480px) {
  body .page-wrapper #about-wrapper .about-frex .about-imgs img {
    height: 130px;
    left: 24px;
    top: 51px;
  }
}

body .page-wrapper #about-wrapper .about-frex .about-intro {
  position: absolute;
  left: 50vw;
  width: 400px;
  text-align: left;
  margin-top: 124px;
}

@media screen and (max-width: 1024px) {
  body .page-wrapper #about-wrapper .about-frex .about-intro {
    width: 303px;
    margin-top: 104px;
  }
}

@media screen and (max-width: 480px) {
  body .page-wrapper #about-wrapper .about-frex .about-intro {
    width: 259px;
    margin-top: 214px;
    left: auto;
  }
}

body .page-wrapper #about-wrapper .about-frex .about-intro .ai-sentence > p {
  margin-bottom: 50px;
}

@media screen and (max-width: 480px) {
  body .page-wrapper #about-wrapper .about-frex .about-intro .ai-sentence > p {
    margin-bottom: 32px;
  }
}

body .page-wrapper #about-wrapper .about-frex .about-intro .ai-sentence .ai-career {
  display: flex;
}

@media screen and (max-width: 480px) {
  body .page-wrapper #about-wrapper .about-frex .about-intro .ai-sentence .ai-career {
    font-size: 10px;
  }
}

body .page-wrapper #about-wrapper .about-frex .about-intro .ai-sentence .ai-career .ai-c-data {
  margin-right: 16px;
}

body .page-wrapper #about-wrapper .name {
  z-index: 30;
  height: 88px;
  position: absolute;
  margin-top: -259px;
  margin-left: -164px;
}

@media screen and (max-width: 1024px) {
  body .page-wrapper #about-wrapper .name {
    height: 63px;
    margin-top: -184px;
    margin-left: -108px;
  }
}

@media screen and (max-width: 480px) {
  body .page-wrapper #about-wrapper .name {
    height: 46px;
    margin-top: -123px;
    margin-left: -39px;
  }
}

body .page-wrapper .ai-skills {
  margin-top: 208px;
  color: #b96970;
}

@media screen and (max-width: 1024px) {
  body .page-wrapper .ai-skills {
    margin-top: 324px;
  }
}

@media screen and (max-width: 480px) {
  body .page-wrapper .ai-skills {
    margin-top: 480px;
  }
}

body footer {
  height: 72px;
  background-color: #e1d7d3;
  margin-top: 136px;
}

@media screen and (max-width: 480px) {
  body footer {
    height: 48px;
    margin-top: 112px;
  }
}

.scroll {
  position: absolute;
  bottom: 40px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-decoration: none;
  padding-top: 50px;
}

@media screen and (max-width: 480px) {
  .scroll {
    left: 45%;
    bottom: 0;
  }
}

.scroll span {
  position: absolute;
  top: 0;
  left: 48%;
  width: 23px;
  height: 23px;
  margin-left: -12px;
  border-left: 1.3px solid #251d1c;
  border-bottom: 1.3px solid #251d1c;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 1.5s infinite;
  animation: sdb 2.5s infinite;
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {
  .scroll span {
    width: 16px;
    height: 16px;
    margin-left: -7px;
  }
}

@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-15px, 15px);
    opacity: 0;
  }
}

@keyframes sdb {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-15px, 15px);
    opacity: 0;
  }
}

.st0 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 12;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 4000;
  stroke-dashoffset: 4000;
}

.st1 {
  fill: none;
  stroke: #fff;
  stroke-width: 50px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 4000;
  stroke-dashoffset: 4000;
}

/*ハンバーガーボタン*/
.el_humburger {
  display: none;
}

@media (max-width: 480px) {
  .el_humburger {
    position: fixed;
    display: block;
    right: 0;
    top: 0;
    padding-top: 4vw;
    width: 70px;
    height: 70px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 999;
    cursor: pointer;
    pointer-events: auto;
    color: #251d1c;
    text-align: center;
  }
  #factory .el_humburger {
    display: none;
  }
}

@media (max-width: 480px) {
  .el_humburger_wrapper {
    display: inline-block;
    margin-bottom: 5px;
    width: 26px;
  }
}

.js_humburgerOpen .el_humburger_text.el_humburger_text__menu {
  display: none;
}

.el_humburger_text.el_humburger_text__close {
  display: none;
}

.js_humburgerOpen .el_humburger_text.el_humburger_text__close {
  display: block;
}

@media screen and (max-width: 840px) {
  .el_humburger_text svg path {
    -webkit-transition: all 200ms cubic-bezier(0.16, 0.52, 0.25, 1);
    -o-transition: all 200ms cubic-bezier(0.16, 0.52, 0.25, 1);
    transition: all 200ms cubic-bezier(0.16, 0.52, 0.25, 1);
    fill: #000;
  }
}

@media screen and (max-width: 840px) {
  .js_humburgerOpen .el_humburger_text svg path {
    fill: #000;
  }
}

.el_humburger span.el_humburger_bar {
  display: block;
  width: 100%;
  margin: 0 auto 9px;
  height: 1px;
  background: #251d1c;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.el_humburger span.el_humburger_bar:last-child {
  margin-bottom: 0;
}

.js_humburgerOpen .el_humburger span.el_humburger_bar {
  background: #251d1c;
}

.js_humburgerOpen .el_humburger span.el_humburger_bar.top {
  -webkit-transform: translateY(9px) rotate(-45deg);
  -ms-transform: translateY(9px) rotate(-45deg);
  transform: translateY(9px) rotate(-45deg);
}

.js_humburgerOpen .el_humburger span.el_humburger_bar.middle {
  opacity: 0;
}

.js_humburgerOpen .el_humburger span.el_humburger_bar.bottom {
  -webkit-transform: translateY(-11px) rotate(45deg);
  -ms-transform: translateY(-11px) rotate(45deg);
  transform: translateY(-11px) rotate(45deg);
}

.el_humburgerButton.el_humburgerButton__close {
  top: 2%;
  right: 2%;
}

.el_humburgerButton__close span.el_humburger_bar {
  display: block;
  width: 35px;
  margin: 0 auto;
  height: 4px;
  background: #251d1c;
}

.el_humburgerButton__close span.el_humburger_bar.top {
  -webkit-transform: translateY(5px) rotate(-45deg);
  -ms-transform: translateY(5px) rotate(-45deg);
  transform: translateY(5px) rotate(-45deg);
}

.el_humburgerButton__close span.el_humburger_bar.bottom {
  -webkit-transform: translateY(-6px) rotate(45deg);
  -ms-transform: translateY(-6px) rotate(45deg);
  transform: translateY(-6px) rotate(45deg);
}

.navi {
  position: fixed;
  right: 0;
  height: 100%;
  background-color: #f5f7f4;
  width: 0;
  z-index: 998;
  padding-top: 100px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 600ms ease-out;
  -o-transition: all 600ms ease-out;
  transition: all 600ms ease-out;
  overflow: hidden;
}

.js_humburgerOpen .navi {
  width: 450px;
}

@media screen and (max-width: 840px) {
  .js_humburgerOpen .navi {
    width: 45%;
    padding: 100px 5% 0;
  }
}

.navi_item {
  margin-bottom: 28px;
  white-space: nowrap;
}

.navi_item img {
  height: 20px;
  padding: 2px 6px;
}

.navi_item.op_innerLink {
  cursor: pointer;
}

#overlay {
  display: none;
  transition: 0.3;
  width: 100vw;
  height: 100vh;
  z-index: 990;
  background-color: rgba(37, 29, 28, 0.6);
  position: fixed;
}
