$base-color:#f7f7f7;
$font-color:#152029;
$yubi-color:#c05937;
$mm-color:#4a62e5;
$pos-color:#f2bc35;
$ymgc-color:#c9bad6;
$main-color:#dc726d;


$tab: 1024px; // タブレット
$sp: 480px;  // スマホ

@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}


html{
    width: 100%;
    height: 100%;
}
body{
    background-color: $base-color;
    font-family: 'Noto Sans JP', sans-serif;
    color: $font-color;
    margin: 0;
    width: 100vw;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: .75px;
    font-weight: 400;
    word-break: break-all;
    margin: 0;
    padding: 0;

    @include tab{
        font-size: 11px;
    }

    p{
        margin: 0;
        padding: 0;

    }

    a{
        text-decoration: none;
        color: $font-color;
    }

    a:visited{
        color: $font-color;
    }

    header{
        position: fixed;
        width: 100vw;
        background-color: rgba(247,247,247,1);
        z-index: 100;
        height: 73px;
        .nav-wrap{
            // width: 1200px;
            display: flex;
            margin:auto 14vw;
            @include tab{
                margin: auto 5vw;
            }
            .logo{
                font-size: 40px;
                // margin-left: 40px;
                font-weight: 700;
                color: $main-color;
            }
            nav{
                display: flex;
                margin: auto 40px auto auto;
                li{
                    list-style: none;
                    padding: 0 30px;
                    font-size: 20px;
                    font-weight: 600;
                }
                @include tab{
                    display: none;
                }
            }
        }
    }

    .page-wrapper{
        #first-view{
            height: 100vh;
            width: 100vw;
            overflow: hidden;
            .main{
                position:relative;
                img{
                    width: 60vw;
                    float: right;
                    @include tab{
                        width: 123vw;
                        right: -38vw;
                        position: absolute;
                        @include sp{
                            width: 150vw;
                            right: -43vw;
                        }
                    }
                }
                h1{
                    margin: 31vh auto auto 14vw;
                    font-size: 55px;
                    position: absolute;
                    letter-spacing: 6px;
                    font-weight: 700;
                    @include tab{
                        margin: 49vw auto auto 14vw;
                        font-size: 7vw;
                    }
                    @include sp{
                        margin: 40vh auto auto 14vw;
                    }
                }
            }
            // スクロールアイコンアニメーション
            .scroll {
                position: absolute;
                bottom: 40px;
                left: 50%;
                z-index: 2;
                display: inline-block;
                -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
                text-decoration: none;
                padding-top: 50px;
                @media screen and (max-width: 480px) { 
                    left: 45%;
                    bottom: 0;
                }
            }
            .scroll span {
                position: absolute;
                top: 0;
                left: 48%;
                width: 23px;
                height: 23px;
                margin-left: -12px;
                border-left: 2px solid #152029;
                border-bottom: 2px solid #152029;
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
                -webkit-animation: sdb 1.5s infinite;
                animation: sdb 2.5s infinite;
                box-sizing: border-box;
                @media screen and (max-width: 480px) { 
                    width: 16px;
                    height: 16px;
                    margin-left: -7px;
                }
            }
            @-webkit-keyframes sdb {
                0% {
                  -webkit-transform: rotate(-45deg) translate(0, 0);
                  opacity: 0;
                }
                50% {
                  opacity: 1;
                }
                100% {
                  -webkit-transform: rotate(-45deg) translate(-15px, 15px);
                  opacity: 0;
                }
              }
              @keyframes sdb {
                0% {
                  transform: rotate(-45deg) translate(0, 0);
                  opacity: 0;
                }
                50% {
                  opacity: 1;
                }
                100% {
                  transform: rotate(-45deg) translate(-15px, 15px);
                  opacity: 0;
                }
              }
            
        }

        

        #works-wrapper{
            margin: 0 14vw 120px 14vw;
            h2::before{
                content: '';
                display: block;
                height: 3px;
                width: 62px;
                margin-bottom: 26px;
                background-color: $main-color;
                // background: linear-gradient(90deg,#f5e9ec, #e5e2f1);
                // float: left;
            }
            h2{
                font-weight: 700;
                font-size: 30px;
                margin-bottom: 96px;
                @include tab{
                    font-size: 25px;
                }
            }
            .first-work{
                display: flex;
                line-height: 1.3;
                margin-bottom: 96px;
                @include sp{
                    display: block;
                }
                img{
                    width: 42vw;
                    @include sp{
                        width: 100%;
                        margin-bottom: 20px;
                    }
                }
                .fw-intro{
                    margin-left: 40px;
                    padding-top: 3vw;
                    @include tab{
                        margin: auto;
                        padding: 0;
                    }
                    .outline{
                        @include sp{
                            margin-left: 40px;
                        }
                    }
                    .work-title{
                        font-size: 50px;
                        font-weight: 700;
                        color: $main-color;
                        @include tab{
                            font-size: 40px;
                        }
                        @include sp{
                            margin-left: 40px;
                        }
                    }
                    .data{
                        margin-bottom: 6vw;
                        @include sp{
                            margin-bottom: 7vw;
                        }
                        @include sp{
                            margin-left: 40px;
                            margin-bottom: 10vw;
                        }
                    }
                    .button{
                        @include sp{
                            text-align: center;
                        }
                        a{
                            border: solid 0.6px #dc726d;
                            color: $main-color;
                            padding: 1.35vw 6vw;
                            // width: 228px;
                            text-align: center;
                            border-radius: 2px;
                            // box-shadow: 0px 3px 13px rgba(220, 114, 109, 0.4);
                            transition: .4s;
                            @include sp{
                                padding: 3.2vw 20vw;
                            }
                        }
                        a:hover {
                            background: $main-color;
                            color: $base-color;
                        }

                    }
                    
                }
            }
            .other-works{
                display: flex;
                flex-wrap: wrap;
                @include sp{
                    display: block;
                }
                .other-work{
                    width: 55%;
                    display: flex;
                    margin-bottom: 100px;
                    @include sp{
                        width: 100%;
                    }
                    .sp-img{
                        height: 20vw;
                        @include sp{
                            height: 50vw;
                        }
                    }
                    .pc-img{
                        height: 17vw;
                        margin: auto 0;
                        @include sp{
                            height: 41vw;
                            left: -9vw;
                            position: relative;
                        }
                    }
                    .pos-img{
                        height: 17vw;
                        @include sp{
                            height: 40vw;
                        }
                    }
                    
                    .fw-intro{
                        margin-left: 6vw;
                        padding-top: 2vw;
                        @include tab{
                            padding-top: 0;
                            margin: auto 0 auto 2vw;
                        }
                        @include sp{
                            margin: auto 0 auto 5vw;
                        }
                        .outline{
    
                        }
                        .work-title{
                            font-size: 2.5vw;
                            font-weight: 700;
                            @include sp{
                                font-size: 5vw;
                            }
                        }
                        .yubi{
                            color: $yubi-color;
                        }
                        .mm{
                            color: $mm-color;
                        }
                        .ymgc{
                            color: $ymgc-color;
                        }
                        .pos{
                            color: $pos-color;
                        }

                        .data{
                            margin-bottom: 4vw;
                            @include sp{
                                margin-bottom: 7vw;
                            }
                        }
                        a{
                            border: solid 0.6px #dc726d;
                            color: $main-color;
                            background: $base-color;
                            padding: 1.2vw 4vw;
                            text-align: center;
                            border-radius: 2px;
                            transition: .4s;
                            // box-shadow: 0px 3px 13px rgba(220, 114, 109, 0.3);
                            @include sp{
                                padding: 2.2vw 10vw;
                            }
                        }
                        a:hover {
                            background: $main-color;
                            color: $base-color;
                        }
                    }
                    .pos-intro{
                        margin-left: 2.5vw;
                    }
                }
                .right-work{
                    width: 45%;
                    @include sp{
                        width: 100%;
                    }
                }
                .ymgc-wrap{
                    position: relative;
                    left: -3vw;
                    @include sp{
                        left: 0;
                    }
                    .fw-intro{
                        position: absolute;
                        left: 13vw;
                        @include tab{
                            margin: auto;
                            top: 50%;
                            transform: translateY(-50%);
                            left: 15.5vw;
                        }
                        @include sp{
                            left: 30vw;
                        }
                    }
                }
            }
        }
    }
    #about-wrapper{
        margin: 0 14vw 200px 14vw;
        display: flex;
        @include sp{
            display: block;
        }
        .about-sp{
            display: none;
            @include sp{
                display: block;
            }
        }
        h2::before{
            content: '';
            display: block;
            height: 3px;
            width: 62px;
            margin-bottom: 26px;
            background: $main-color;
            // background: linear-gradient(90deg,#f5e9ec, #e5e2f1);
            // float: left;
        }
        h2{
            font-weight: 700;
            font-size: 30px;
            margin-bottom: 56px;
        }
        .about-img{
            width: 50%;
            margin: auto;
            text-align: center;
            @include sp{
                width: 100%;
            }
            img{
                height: 24vw;
                @include sp{
                    height: 50vw;
                    margin-bottom: 40px;
                }
            }
        }
        .about-right{
            width: 50%;
            @include sp{
                width: 100%;
            }
            h2{
                @include sp{
                    display: none;
                }
            }
            .about-outline , .career-right{
                margin-bottom: 40px;
            }
            .name{
                font-size: 30px;
                font-weight: 600;
                margin-bottom: 16px;
                @include sp{
                    font-size: 20px;
                }
            }
            .career{
                display: flex;
                font-size: 12px;
                @include tab{
                    font-size: 10px;
                }
                .career-left{
                    margin-right: 30px;
                    @include tab{
                        margin-right: 10px;
                    }
                }
                .career-right{
                    
                }
            }
            .skill{
                color: $main-color;
            }


        }
    }
    

    footer{
        height: 56px;
        background-color:$font-color;
    }
}




/*ハンバーガーボタン*/
.el_humburger {
    display: none;
}

@include tab {
    .el_humburger {
        position: fixed;
        display: block;
        right: 0;
        top: 0;
        padding-top: 2.2vw;
        padding-right: 5vw;
        width: 70px;
        height: 70px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        z-index: 999;
        cursor: pointer;
        pointer-events: auto;
        color: $font-color;
        text-align: center;
        @include sp{
            padding-top: 6vw;
        }
    }
    #factory .el_humburger {
        display: none; } 
    }

@include tab{
    .el_humburger_wrapper {
        display: inline-block;
        margin-bottom: 5px;
        width: 23px; } }

    .js_humburgerOpen .el_humburger_text.el_humburger_text__menu {
        display: none; }

    .el_humburger_text.el_humburger_text__close {
        display: none; }
    
    .js_humburgerOpen .el_humburger_text.el_humburger_text__close {
    display: block; }
    
    
    @media screen and (max-width: 840px) {
    .el_humburger_text svg path {
        -webkit-transition: all 200ms cubic-bezier(0.16, 0.52, 0.25, 1);
        -o-transition: all 200ms cubic-bezier(0.16, 0.52, 0.25, 1);
        transition: all 200ms cubic-bezier(0.16, 0.52, 0.25, 1);
        fill: $font-color; } }
    
    @media screen and (max-width: 840px) {
    .js_humburgerOpen .el_humburger_text svg path {
        fill: $font-color; } }
    
    .el_humburger span.el_humburger_bar {
    display: block;
    width: 100%;
    margin: 0 auto 9px;
    height: 2px;
    background: $font-color;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
    
    .el_humburger span.el_humburger_bar:last-child {
    margin-bottom: 0; }
    
    .js_humburgerOpen .el_humburger span.el_humburger_bar {
    background: $font-color; }
    
    
    .js_humburgerOpen .el_humburger span.el_humburger_bar.top {
        -webkit-transform: translateY(13px) rotate(-45deg);
        -ms-transform: translateY(13px) rotate(-45deg);
        transform: translateY(13px) rotate(-45deg); 
        @include sp{
            -webkit-transform: translateY(11px) rotate(-45deg);
            -ms-transform: translateY(11px) rotate(-45deg);
            transform: translateY(11px) rotate(-45deg); 
        }
    }

    .js_humburgerOpen .el_humburger span.el_humburger_bar.middle {
        opacity: 0; }
    
    .js_humburgerOpen .el_humburger span.el_humburger_bar.bottom {
        -webkit-transform: translateY(-11px) rotate(45deg);
        -ms-transform: translateY(-11px) rotate(45deg);
        transform: translateY(-11px) rotate(45deg); 
    }
    
    .el_humburgerButton.el_humburgerButton__close {
    top: 2%;
    right: 2%; }
    
    .el_humburgerButton__close span.el_humburger_bar {
    display: block;
    width: 35px;
    margin: 0 auto;
    height: 4px;
    background: $font-color; }
    
    .el_humburgerButton__close span.el_humburger_bar.top {
    -webkit-transform: translateY(5px) rotate(-45deg);
    -ms-transform: translateY(5px) rotate(-45deg);
    transform: translateY(5px) rotate(-45deg); }
    
    .el_humburgerButton__close span.el_humburger_bar.bottom {
    -webkit-transform: translateY(-6px) rotate(45deg);
    -ms-transform: translateY(-6px) rotate(45deg);
    transform: translateY(-6px) rotate(45deg); }

    .navi {
        position: fixed;
        right: 0;
        height: 100%;
        background-color:$base-color;
        width: 0;
        z-index: 998;
        padding-top: 150px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 600ms ease-out;
        -o-transition: all 600ms ease-out;
        transition: all 600ms ease-out;
        overflow: hidden; 
        @include sp{

        }
        .navi_inner{
            margin-left: 120px;
            @include sp{
                margin-left: 10vw;
            }
        }
    }
    .js_humburgerOpen .navi {
        width: 450px; 
        @include sp{
            width: 65vw;
        }
    }
    
    .navi_item {
        margin-bottom: 50px;
        white-space: nowrap;
        font-size: 30px;
        font-weight: 600;
        @include sp{
            margin-bottom: 30px;
            font-size: 20px;
        }
    }
    .navi_item.op_innerLink {
        cursor: pointer; 
    }

#overlay{
    display: none;
    transition: 0.3;
    width:100vw;
    height: 100vh;
    z-index: 990;
    background-color: rgba(21,32,41,0.6);
    position: fixed;
}