$pink-color:#b96970;
$peal-pink-color:#e1d7d3;
$base-color:#f5f7f4;
$mm-color:#e5dbc6;
$yc-color:#e7d4d4;
$yg-color:#e2dfe5;
$f-color:#e3e4e6;


$tab: 1024px; // タブレット
$sp: 480px;  // スマホ

@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}


html{
    width: 100%;
    height: 100%;
}
body{
    background-color: $base-color;
    font-family: 'M PLUS Rounded 1c',sans-serif;
    color: #251d1c;
    margin: 0;
    width: 100vw;
    font-size: 13px;
    line-height: 2.1em;
    font-weight: lighter;
    word-break: break-all;

    p{
        margin: 0;
    }

    a{
        text-decoration: none;
        color: $pink-color;
    }

    header{
        position: fixed;
        z-index: 99;
        left: 7vw;
        top: 4vw;
        @include sp { 
            left: 4vw;
        }

        >img{
            width: auto;
            height: 55px;
            margin-bottom: 24px;
            @include sp { 
                height: 40px;
                margin-bottom: 40px;
            }
        }
        nav{
            list-style: none;
            
            li{
                list-style: none;
                margin-bottom: 24px;
                height: 20px;
                display: flex;
                @include sp { 
                    margin-bottom: 10px;
                }
                a{
                    display: block;
                    width: 100%;
                }
                img{
                    height: 20px;
                    padding: 2px 6px;
                    @include sp { 
                        height: 16px;
                    }
                }
            }     
        }
        
    }
    .page-wrapper{
        .sita{
            font-weight: 400;
        }

        // 画面の左右の作品への誘導
        .guides{
            z-index: 99;
            a{
                color: #1F0000;
            }
            .guide{
                position: fixed;
                top: 50%;
                transform: translateY(-50%);
                text-align: center;
                p{
                    line-height: 0;
                    font-size: 11px;
                }
                
            }
            img{
                height: 80px;
                margin-bottom: 5px;
            }
            .previous{
                left: 7vw;
            }
            .next{
                right: 7vw;
            }
            .guide-yoko-img{
                img{
                    height: 46px;
                }
            }
        }

        .main-wrapper{
            
            .main-view{
                height: 500px;
                width: 100vw;
                // background-color: $mm-color;
                overflow:hidden;  
                display: flex;
                margin-bottom: 120px;
                
                .mv-img-wrap{
                    margin: 0 auto;
                    width: 1240px;
                    text-align: right;
                    .mv-img{
                        width: 64vw;
                        height: auto;       
                    }
                    .mv-pc-img{
                        width: 64vw;
                        height: auto;       
                    }
                }
                
                .mv-summary{
                    position: absolute;
                    left: 20vw;
                    top: 240px;
                    .mvs-title{
                        font-weight: 400;
                        font-size: 32px;
                        background-color: $base-color;
                        display: inline-block;
                    }
                    .mvs-date , .mvs-outline{
                        margin-bottom: 20px;
                    }
                }
            }

            .main-intro{          
                text-align: center;
                width: 60vw;
                margin: 0 auto;
                .concept-part{
                    // background-color: $mm-color;
                    width: 100vw;
                    margin-left: calc(((100vw - 100%) / 2) * -1);
                    margin-right: calc(((100vw - 100%) / 2) * -1);
                    padding: 0 calc((100vw - 100%) / 2);
                    .concept-subtitle{
                        background-color: $base-color;
                        
                    }
                    .bold-description{
                        font-weight: 500;
                    }

                }
                .part{
                    padding: 60px 0 50px 0;
                    .subtitle{
                        font-weight: 500;
                        font-size: 18px;
                        display: inline-block;
                        line-height: 1;
                        margin-bottom: 60px;
                        
                    }                
                    // .mm-subtitle{
                    //     background-color: $mm-color;
                    // }
                    // .yc-subtitle{
                    //     background-color: $yc-color;
                    // }
                    .center-description{
                        margin-bottom: 40px;
                    }

                    .bold-description{
                        font-weight: 400;
                        line-height: 1.7;
                    }

                    .persona{
                        display: flex;
                        margin: 0 auto;
                        justify-content: center;
                        margin-bottom: 40px;
                        >img{
                            width: 100px;
                            margin-right: 30px;
                        }
                        >p{
                            text-align: left;
                            margin-left: 30px;
                        }    
                    }
                    .sub-part{
                        margin-bottom: 90px;
                        .sub-subtitle{
                            font-size: 16px;
                            font-weight: 500;
                            margin-bottom: 30px;
                        }
                        .ny-dis{
                            margin-bottom: 80px;
                        }
                        .sp-img-1{
                            margin-bottom: 60px;
                            .tana{
                                width: 350px;
                                height: auto;
                                margin-right: 30px;
                            }
                            
                            img:nth-child(2){
                                width: 120px;
                                height: auto;
                                top: -17px;
                                margin-left: 30px;
                                position: relative;
                            }
                        }
                        .sp-img-2{
                            margin-top: 70px;
                            margin-bottom: 60px;
                            .yubi-img{
                                width: 116px;
                                margin-right: 30px;
                                top: -39px;
                                position: relative;
                            }
                            img:nth-child(2){
                                width: 120px;
                                height: auto;
                                top: -17px;
                                margin-left: 30px;
                                position: relative;
                            }
                        }
                        .sp-split{
                            display: flex;
                            width: 45vw;
                            margin: 0 auto;
                            margin-bottom: 40px;
                            >img{
                                width: 220px;
                            }
                            .sp-s-img{
                                width: 280px;
                            }
                            .sp-pc-img{
                                width: 320px;
                            }
                            >p{
                                text-align: left;
                                padding-left: 40px;
                            }
                            .third-des{
                                margin: 0 auto;
                            }
                        }
                        .logo-img{
                            width: 250px;
                            margin-bottom: 20px;
                        }
                        .color-img{
                            width: 100px;
                            margin-bottom: 20px;
                        }
                        .color-1-img{
                            width: 50px;
                            margin-bottom: 20px;
                        }
                        .color-yoko-img{
                            width: 500px;
                            margin-bottom: 20px;
                        }
                        .des-img{
                            margin: 50px 5px;
                            width: 170px;
                        }
                        .xd-img{
                            width: 700px;
                        }
                    }

                }
            }

        }
        .sp-yoko-img{
            width: 560px;
            height: auto;
            margin-bottom: 40px;
        }
        .ny , .ny-concept , .ny-subtitle{
            background-color: $peal-pink-color;
        }
        .mm , .mm-concept , .mm-subtitle{
            background-color: $mm-color;
        }
        .yc , .yc-concept , .yc-subtitle{
            background-color: $yc-color;
        }
        .f , .f-concept , .f-subtitle{
            background-color: $f-color;
        }
        .yg , .yg-concept , .yg-subtitle{
            background-color: $yg-color;
        }
        .p{
            background-color: $yc-color;
        }
    }

    footer{
        height: 48px;
        background-color:$peal-pink-color;
    }
}