@charset "UTF-8";
html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #f7f7f7;
  font-family: 'Noto Sans JP', sans-serif;
  color: #152029;
  margin: 0;
  width: 100vw;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: .75px;
  font-weight: 400;
  word-break: break-all;
  margin: 0;
  padding: 0;
}

@media (max-width: 1024px) {
  body {
    font-size: 11px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 13px;
  }
}

body p {
  margin: 0;
  padding: 0;
}

body a {
  text-decoration: none;
  color: #152029;
}

body a:visited {
  color: #152029;
}

body header {
  position: fixed;
  width: 100vw;
  background-color: #f7f7f7;
  z-index: 100;
  height: 73px;
}

body header .nav-wrap {
  display: flex;
  margin: auto 14vw;
}

@media (max-width: 1024px) {
  body header .nav-wrap {
    margin: auto 5vw;
  }
}

body header .nav-wrap .logo {
  font-size: 40px;
  font-weight: 700;
  color: #dc726d;
}

body header .nav-wrap nav {
  display: flex;
  margin: auto 40px auto auto;
}

body header .nav-wrap nav li {
  list-style: none;
  padding: 0 30px;
  font-size: 20px;
  font-weight: 600;
}

@media (max-width: 1024px) {
  body header .nav-wrap nav {
    display: none;
  }
}

body h2::before {
  content: '';
  display: block;
  height: 3px;
  width: 62px;
  margin-bottom: 26px;
  background-color: #c05937;
}

body h2 {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 50px;
}

@media (max-width: 1024px) {
  body h2 {
    font-size: 24px;
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  body h2 {
    font-size: 17px;
  }
}

body .h2-mm::before {
  background-color: #4a62e5;
}

body .h2-pos::before {
  background-color: #f2b43f;
}

body .h2-ymgc::before {
  background-color: #c9bad6;
}

body .h2-n::before {
  background-color: #dc726d;
}

body .page-wrapper {
  height: 100vw;
}

body .page-wrapper .first-view {
  display: flex;
  height: 39vw;
  margin-bottom: 130px;
}

@media (max-width: 1024px) {
  body .page-wrapper .first-view {
    margin-bottom: 100px;
    height: 50vw;
  }
}

@media (max-width: 480px) {
  body .page-wrapper .first-view {
    height: 83vh;
    display: block;
  }
}

body .page-wrapper .first-view .outline::before {
  content: '';
  display: block;
  height: 3px;
  width: 62px;
  margin-bottom: 26px;
  background-color: #c05937;
}

body .page-wrapper .first-view .outline {
  font-weight: 700;
  font-size: 16px;
  color: #c05937;
}

@media (max-width: 1024px) {
  body .page-wrapper .first-view .outline {
    font-size: 14px;
  }
}

body .page-wrapper .first-view .fv-intro {
  width: 26vw;
  padding-top: 12vw;
  margin-left: 14vw;
}

@media (max-width: 1024px) {
  body .page-wrapper .first-view .fv-intro {
    margin-left: 10vw;
    width: 35vw;
  }
}

@media (max-width: 480px) {
  body .page-wrapper .first-view .fv-intro {
    display: none;
  }
}

body .page-wrapper .first-view .fv-intro .o-mm::before {
  background-color: #4a62e5;
}

body .page-wrapper .first-view .fv-intro .o-mm {
  color: #4a62e5;
}

body .page-wrapper .first-view .fv-intro .o-pos::before {
  background-color: #f2b43f;
}

body .page-wrapper .first-view .fv-intro .o-pos {
  color: #f2b43f;
}

body .page-wrapper .first-view .fv-intro .o-ymgc::before {
  background-color: #c9bad6;
}

body .page-wrapper .first-view .fv-intro .o-ymgc {
  color: #c9bad6;
}

body .page-wrapper .first-view .fv-intro .o-n::before {
  background-color: #dc726d;
}

body .page-wrapper .first-view .fv-intro .o-n {
  color: #dc726d;
}

body .page-wrapper .first-view .fv-intro h1 {
  font-weight: 900;
  font-size: 33px;
  margin: 0;
}

@media (max-width: 1024px) {
  body .page-wrapper .first-view .fv-intro h1 {
    font-size: 31px;
  }
}

body .page-wrapper .first-view .fv-intro .data {
  font-weight: 600;
  margin-bottom: 40px;
}

body .page-wrapper .first-view .fv-intro p {
  width: 90%;
}

body .page-wrapper .first-view .fv-img {
  overflow: hidden;
  display: flex;
  width: 60vw;
  background-color: #c05937;
  padding-top: 73px;
}

@media (max-width: 1024px) {
  body .page-wrapper .first-view .fv-img {
    width: 55vw;
  }
}

@media (max-width: 480px) {
  body .page-wrapper .first-view .fv-img {
    display: none;
    padding-top: 90px;
  }
}

body .page-wrapper .first-view .fv-img img {
  height: 31vw;
  position: relative;
}

@media (max-width: 480px) {
  body .page-wrapper .first-view .fv-img img {
    height: 30vh;
  }
}

body .page-wrapper .first-view .fv-img .left {
  top: 1vw;
  margin: 0 1vw 0 auto;
}

body .page-wrapper .first-view .fv-img .right {
  top: 9vw;
  margin: 0 auto 0 1vw;
}

body .page-wrapper .first-view .fi-mm {
  background-color: #4a62e5;
}

body .page-wrapper .first-view .fi-pos {
  background-color: #f2b43f;
}

body .page-wrapper .first-view .fi-ymgc {
  background-color: #e8e1ec;
}

@media (max-width: 480px) {
  body .page-wrapper .first-view .fi-ymgc {
    background-color: #c9bad6;
  }
}

body .page-wrapper .first-view .fi-ymgc .pc {
  height: 27vw;
  margin: auto;
}

body .page-wrapper .first-view .fi-n {
  background-color: #dc726d;
}

body .page-wrapper .first-view .fi-n .pc {
  height: 27vw;
  margin: auto;
}

body .page-wrapper .first-view .fv-i-sp {
  display: none;
}

@media (max-width: 480px) {
  body .page-wrapper .first-view .fv-i-sp {
    display: block;
    width: 100vw;
    height: 75vh;
    text-align: center;
  }
  body .page-wrapper .first-view .fv-i-sp .pc {
    height: 50vw;
    margin-top: 6vh;
  }
}

@media (max-width: 480px) {
  body .page-wrapper .first-view .fv-i-sp .fv-intro {
    display: block;
    color: #f7f7f7;
    margin-left: 0;
    width: 80vw;
    text-align: left;
    padding: 0 10vw;
  }
}

@media (max-width: 480px) {
  body .page-wrapper .first-view .fv-i-sp .fv-intro .outline {
    color: #f7f7f7;
  }
}

@media (max-width: 480px) {
  body .page-wrapper .first-view .fv-i-sp .fv-intro p {
    width: 100%;
  }
}

body .page-wrapper .first-view .fv-i-sp .fv-intro .data {
  margin-bottom: 10px;
}

@media (max-width: 480px) {
  body .page-wrapper .first-view .fv-i-sp-no-outline .outline::before {
    display: none;
  }
}

body .page-wrapper .main-wrap {
  margin: 0 14vw 120px 14vw;
}

@media (max-width: 1024px) {
  body .page-wrapper .main-wrap {
    margin: 0 10vw 120px 10vw;
  }
}

body .page-wrapper .main-wrap .cans {
  margin-bottom: 200px;
}

@media (max-width: 1024px) {
  body .page-wrapper .main-wrap .cans {
    margin-bottom: 150px;
  }
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .cans {
    margin-bottom: 120px;
  }
}

body .page-wrapper .main-wrap .cans .can-wrap {
  display: flex;
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .cans .can-wrap {
    display: block;
  }
}

body .page-wrapper .main-wrap .cans .can-wrap .can:nth-child(1) {
  margin: 0 5vw 0 auto;
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .cans .can-wrap .can:nth-child(1) {
    margin: auto auto 80px auto;
  }
}

body .page-wrapper .main-wrap .cans .can-wrap .can:nth-child(2) {
  margin: 0 auto 0 5vw;
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .cans .can-wrap .can:nth-child(2) {
    margin: auto auto 80px auto;
  }
}

body .page-wrapper .main-wrap .cans .can-wrap .can {
  width: 23vw;
}

@media (max-width: 1024px) {
  body .page-wrapper .main-wrap .cans .can-wrap .can {
    width: 32vw;
  }
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .cans .can-wrap .can {
    width: 100%;
  }
}

body .page-wrapper .main-wrap .cans .can-wrap .can .img-wrap {
  text-align: center;
  margin: auto;
}

body .page-wrapper .main-wrap .cans .can-wrap .can .img-wrap img {
  width: 20vw;
  margin-bottom: 20px;
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .cans .can-wrap .can .img-wrap img {
    width: 60%;
  }
}

body .page-wrapper .main-wrap .cans .can-wrap .can .can-big {
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #c05937;
}

@media (max-width: 1024px) {
  body .page-wrapper .main-wrap .cans .can-wrap .can .can-big {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .cans .can-wrap .can .can-big {
    font-size: 5vw;
  }
}

body .page-wrapper .main-wrap .cans .can-wrap .can .cb-mm {
  color: #4a62e5;
}

body .page-wrapper .main-wrap .background {
  margin-bottom: 200px;
}

@media (max-width: 1024px) {
  body .page-wrapper .main-wrap .background {
    margin-bottom: 150px;
  }
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .background {
    margin-bottom: 120px;
  }
}

body .page-wrapper .main-wrap .background .concept-big {
  font-weight: 600;
  font-size: 25px;
  color: #c9bad6;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  body .page-wrapper .main-wrap .background .concept-big {
    font-size: 2.5vw;
  }
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .background .concept-big {
    font-size: 5vw;
  }
}

body .page-wrapper .main-wrap .background .n {
  color: #dc726d;
}

body .page-wrapper .main-wrap .background .concept-p {
  width: 50%;
}

@media (max-width: 1024px) {
  body .page-wrapper .main-wrap .background .concept-p {
    width: 90%;
  }
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .background .concept-p {
    width: 100%;
  }
}

body .page-wrapper .main-wrap .persona {
  display: flex;
  margin-bottom: 200px;
}

@media (max-width: 1024px) {
  body .page-wrapper .main-wrap .persona {
    margin-bottom: 150px;
  }
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .persona {
    margin-bottom: 120px;
    display: block;
  }
}

body .page-wrapper .main-wrap .persona .img-wrap {
  width: 50%;
  text-align: center;
  margin: auto;
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .persona .img-wrap {
    width: 100%;
  }
}

body .page-wrapper .main-wrap .persona .img-wrap img {
  height: 18vw;
  margin-top: 20px;
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .persona .img-wrap img {
    height: 40vw;
    margin-top: 0;
    margin-bottom: 20px;
  }
}

body .page-wrapper .main-wrap .persona .persona-intro {
  width: 50%;
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .persona .persona-intro {
    width: 100%;
  }
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .persona .persona-intro h2 {
    display: none;
  }
}

body .page-wrapper .main-wrap .persona .persona-intro .persona-big {
  font-weight: 600;
  font-size: 25px;
  color: #c05937;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  body .page-wrapper .main-wrap .persona .persona-intro .persona-big {
    font-size: 17px;
  }
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .persona .persona-intro .persona-big {
    font-size: 5vw;
  }
}

body .page-wrapper .main-wrap .persona .persona-intro .pg-mm {
  color: #4a62e5;
}

body .page-wrapper .main-wrap .use {
  margin-bottom: 200px;
}

@media (max-width: 1024px) {
  body .page-wrapper .main-wrap .use {
    margin-bottom: 150px;
  }
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .use {
    margin-bottom: 120px;
  }
}

body .page-wrapper .main-wrap .use .use-wrap {
  display: flex;
  margin-bottom: 150px;
}

@media (max-width: 1024px) {
  body .page-wrapper .main-wrap .use .use-wrap {
    margin-bottom: 120px;
  }
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .use .use-wrap {
    display: block;
    margin-bottom: 80px;
  }
}

body .page-wrapper .main-wrap .use .use-wrap .use-intro {
  width: 50%;
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .use .use-wrap .use-intro {
    width: 100%;
  }
}

body .page-wrapper .main-wrap .use .use-wrap .use-intro img {
  width: 35px;
}

@media (max-width: 1024px) {
  body .page-wrapper .main-wrap .use .use-wrap .use-intro img {
    width: 25px;
  }
}

body .page-wrapper .main-wrap .use .use-wrap .use-intro .use-big {
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 30px;
}

@media (max-width: 1024px) {
  body .page-wrapper .main-wrap .use .use-wrap .use-intro .use-big {
    font-size: 16px;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .use .use-wrap .use-intro .use-big {
    font-size: 4.5vw;
  }
}

body .page-wrapper .main-wrap .use .use-wrap .use-intro .ui-mm {
  color: #4a62e5;
}

body .page-wrapper .main-wrap .use .use-wrap .use-img {
  width: 50%;
  display: flex;
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .use .use-wrap .use-img {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    display: block;
  }
}

body .page-wrapper .main-wrap .use .use-wrap .use-img .illust {
  height: 8vw;
  margin: auto 2vw auto auto;
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .use .use-wrap .use-img .illust {
    height: 20vw;
  }
}

body .page-wrapper .main-wrap .use .use-wrap .use-img .illust-mm {
  height: 20vw;
  margin: auto;
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .use .use-wrap .use-img .illust-mm {
    height: 40vw;
  }
}

body .page-wrapper .main-wrap .use .use-wrap .use-img .sp {
  height: 23vw;
  margin: auto auto auto 2vw;
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .use .use-wrap .use-img .sp {
    height: 50vw;
  }
}

body .page-wrapper .main-wrap .use .use-wrap .use-img .ar-sp:nth-of-type(1) {
  height: 23vw;
  margin: 0 0 0 auto;
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .use .use-wrap .use-img .ar-sp:nth-of-type(1) {
    height: 50vw;
  }
}

body .page-wrapper .main-wrap .use .use-wrap .use-img .ar-sp:nth-of-type(2) {
  height: 23vw;
  margin: 0 auto 0 0;
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .use .use-wrap .use-img .ar-sp:nth-of-type(2) {
    height: 50vw;
  }
}

body .page-wrapper .main-wrap .use .use-wrap .use-img .arrow-wrap {
  margin: auto 0;
}

body .page-wrapper .main-wrap .use .use-wrap .use-img .arrow-wrap .arrow {
  height: 1.5vw;
  margin: 0 2vw;
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .use .use-wrap .use-img .arrow-wrap .arrow {
    height: 4vw;
  }
}

body .page-wrapper .main-wrap .use .use-wrap .use-img .center-sp {
  margin: auto;
}

body .page-wrapper .main-wrap .use .use-wrap .use-img .center-sp img {
  margin: 0;
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .use .use-wrap .use-img .center-sp .n {
    width: 100%;
  }
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .use .use-wrap .use-img .center-sp .ps {
    height: 50vw;
  }
}

body .page-wrapper .main-wrap .use .use-wrap .use-img .pos {
  width: 20vw;
  margin: auto;
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .use .use-wrap .use-img .pos {
    width: 60vw !important;
    height: auto !important;
  }
}

body .page-wrapper .main-wrap .use .use-wrap .use-img .n {
  width: 32vw;
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .use .use-wrap .use-img .n {
    width: 100% !important;
    height: auto !important;
  }
}

body .page-wrapper .main-wrap .use .use-wrap .sp-ui {
  display: none;
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .use .use-wrap .sp-ui {
    display: flex;
  }
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .use .use-wrap .pc-ui {
    display: none;
  }
}

body .page-wrapper .main-wrap .use .uw-n {
  margin-bottom: 50px;
}

body .page-wrapper .main-wrap .design {
  margin-bottom: 250px;
}

@media (max-width: 1024px) {
  body .page-wrapper .main-wrap .design {
    margin-bottom: 180px;
  }
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .design {
    margin-bottom: 120px;
  }
}

body .page-wrapper .main-wrap .design .design-wrap {
  display: flex;
  margin-bottom: 120px;
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .design .design-wrap {
    display: block;
    margin-bottom: 80px;
  }
}

body .page-wrapper .main-wrap .design .design-wrap .design-intro {
  width: 50%;
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .design .design-wrap .design-intro {
    width: 100%;
  }
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .design .design-wrap .design-intro h2 {
    display: none;
  }
}

body .page-wrapper .main-wrap .design .design-wrap .design-intro .design-big {
  font-weight: 600;
  font-size: 25px;
  color: #c05937;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  body .page-wrapper .main-wrap .design .design-wrap .design-intro .design-big {
    font-size: 17px;
  }
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .design .design-wrap .design-intro .design-big {
    font-size: 5vw;
  }
}

body .page-wrapper .main-wrap .design .design-wrap .design-intro .db-mm {
  color: #4a62e5;
}

body .page-wrapper .main-wrap .design .design-wrap .design-intro .img-wrap {
  text-align: center;
  margin-bottom: 30px;
  width: 90%;
}

body .page-wrapper .main-wrap .design .design-wrap .design-intro .img-wrap img {
  height: 7vw;
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .design .design-wrap .design-intro .img-wrap img {
    height: 20vw;
  }
}

body .page-wrapper .main-wrap .design .design-wrap .design-intro p {
  margin-bottom: 50px;
}

body .page-wrapper .main-wrap .design .design-wrap .design-img {
  width: 50%;
  margin: auto;
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .design .design-wrap .design-img {
    width: 100%;
    text-align: center;
  }
}

body .page-wrapper .main-wrap .design .design-wrap .design-img .img-wrap {
  display: flex;
}

body .page-wrapper .main-wrap .design .design-wrap .design-img .img-wrap img {
  margin: auto 1vw;
}

body .page-wrapper .main-wrap .design .design-wrap .design-img .img-wrap .sp {
  height: 23vw;
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .design .design-wrap .design-img .img-wrap .sp {
    height: 50vw;
  }
}

body .page-wrapper .main-wrap .design .design-wrap .design-img .img-wrap .color-wrap {
  margin: auto 0 0 0;
}

body .page-wrapper .main-wrap .design .design-wrap .design-img .img-wrap .color-wrap .color {
  width: 4vw;
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .design .design-wrap .design-img .img-wrap .color-wrap .color {
    width: 10vw;
  }
}

body .page-wrapper .main-wrap .design .design-wrap .design-img .img-wrap .mm {
  height: 14vw;
  margin: 6vw auto 0 auto;
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .design .design-wrap .design-img .img-wrap .mm {
    height: 30vw;
    margin: auto;
  }
}

body .page-wrapper .main-wrap .design .design-wrap .design-img .img-wrap .pos {
  width: 33vw;
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .design .design-wrap .design-img .img-wrap .pos {
    width: 60vw;
    margin: auto auto 30px auto;
  }
}

body .page-wrapper .main-wrap .design .design-wrap .design-img .img-wrap .ymgc-1 {
  height: 30vw;
  margin: 160px 0 0 0;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  body .page-wrapper .main-wrap .design .design-wrap .design-img .img-wrap .ymgc-1 {
    height: 35vw;
    margin: 100px auto 0 auto;
  }
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .design .design-wrap .design-img .img-wrap .ymgc-1 {
    height: 60vw;
    margin: auto auto 30px auto;
  }
}

body .page-wrapper .main-wrap .design .design-wrap .design-img .img-wrap .ymgc-2 {
  height: 30vw;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  body .page-wrapper .main-wrap .design .design-wrap .design-img .img-wrap .ymgc-2 {
    height: 35vw;
  }
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .design .design-wrap .design-img .img-wrap .ymgc-2 {
    height: 60vw;
    margin: auto auto 30px auto;
  }
}

body .page-wrapper .main-wrap .design .design-wrap .design-img .img-wrap .n-1 {
  height: 19vw;
  margin: 160px 0 0 0;
}

@media (max-width: 1024px) {
  body .page-wrapper .main-wrap .design .design-wrap .design-img .img-wrap .n-1 {
    margin: 12vw 0 0 0;
    height: 20vw;
  }
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .design .design-wrap .design-img .img-wrap .n-1 {
    height: 46vw;
    margin-bottom: 30px;
  }
}

body .page-wrapper .main-wrap .design .design-wrap .design-img .img-wrap .n-2 {
  height: 33vw;
  margin: 0;
}

@media (max-width: 1024px) {
  body .page-wrapper .main-wrap .design .design-wrap .design-img .img-wrap .n-2 {
    height: 35vw;
  }
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .design .design-wrap .design-img .img-wrap .n-2 {
    height: 76vw;
    margin-bottom: 30px;
  }
}

body .page-wrapper .main-wrap .design .design-wrap .design-img .xd {
  width: 30vw;
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .design .design-wrap .design-img .xd {
    width: 80%;
    margin-bottom: 30px;
  }
}

body .page-wrapper .main-wrap .design .design-wrap .design-img .im-yubi {
  margin-top: 170px;
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .design .design-wrap .design-img .im-yubi {
    margin: auto auto 30px auto;
  }
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .design .design-wrap .design-img .sp-im-mm {
    margin: auto auto 30px auto;
  }
}

body .page-wrapper .main-wrap .design .design-wrap .sp-di {
  display: none;
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .design .design-wrap .sp-di {
    display: flex;
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .design .design-wrap .sp-di .img-wrap {
    margin: auto;
  }
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .design .design-wrap .pc-di {
    display: none;
  }
}

body .page-wrapper .main-wrap .design .design-wrap .sp-ui {
  display: none;
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .design .design-wrap .sp-ui {
    display: flex;
  }
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .design .design-wrap .pc-ui {
    display: none;
  }
}

@media (max-width: 480px) {
  body .page-wrapper .main-wrap .design .design-wrap .sp-im-mm-wrap {
    display: flex;
  }
}

body .page-wrapper .h2-sp {
  display: none;
}

@media (max-width: 480px) {
  body .page-wrapper .h2-sp {
    display: block;
  }
}

body .page-wrapper .page-nation {
  text-align: center;
  margin-bottom: 200px;
}

body .page-wrapper .page-nation a {
  color: #dc726d;
}

body .page-wrapper .page-nation .buttons {
  display: flex;
  margin-bottom: 50px;
}

body .page-wrapper .page-nation .buttons .tsugi::after {
  display: block;
  content: "";
  position: relative;
  top: 45%;
  right: -60px;
  width: 0;
  height: 0;
  margin-top: -6px;
  border: 6px solid transparent;
  border-left: 6px solid #dc726d;
}

@media (max-width: 480px) {
  body .page-wrapper .page-nation .buttons .tsugi::after {
    right: -25px;
  }
}

body .page-wrapper .page-nation .buttons .mae::before {
  display: block;
  content: "";
  position: relative;
  top: 45%;
  left: -60px;
  width: 0;
  height: 0;
  margin-top: -6px;
  border: 6px solid transparent;
  border-right: 6px solid #dc726d;
}

@media (max-width: 480px) {
  body .page-wrapper .page-nation .buttons .mae::before {
    left: -25px;
  }
}

body .page-wrapper .page-nation .buttons .button {
  display: flex;
  font-weight: 600;
  color: #dc726d;
  padding: 11px 84px;
  text-align: center;
  border-radius: 2px;
  transition: .4s;
  border: solid 0.6px #dc726d;
}

@media (max-width: 480px) {
  body .page-wrapper .page-nation .buttons .button {
    padding: 2.2vw 10vw;
  }
}

body .page-wrapper .page-nation .buttons .button:hover {
  background: #dc726d;
  color: #f7f7f7;
}

body .page-wrapper .page-nation .buttons .button:nth-of-type(1) {
  text-align: center;
  margin: 0 15px 0 auto;
}

body .page-wrapper .page-nation .buttons .button:nth-of-type(2) {
  text-align: center;
  margin: 0 auto 0 15px;
}

body .page-wrapper footer {
  height: 56px;
  background-color: #152029;
}

/*ハンバーガーボタン*/
.el_humburger {
  display: none;
}

@media (max-width: 1024px) {
  .el_humburger {
    position: fixed;
    display: block;
    right: 0;
    top: 0;
    padding-top: 2.2vw;
    padding-right: 5vw;
    width: 70px;
    height: 70px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 999;
    cursor: pointer;
    pointer-events: auto;
    color: #152029;
    text-align: center;
  }
}

@media (max-width: 1024px) and (max-width: 480px) {
  .el_humburger {
    padding-top: 6vw;
  }
}

@media (max-width: 1024px) {
  #factory .el_humburger {
    display: none;
  }
}

@media (max-width: 1024px) {
  .el_humburger_wrapper {
    display: inline-block;
    margin-bottom: 5px;
    width: 23px;
  }
}

.js_humburgerOpen .el_humburger_text.el_humburger_text__menu {
  display: none;
}

.el_humburger_text.el_humburger_text__close {
  display: none;
}

.js_humburgerOpen .el_humburger_text.el_humburger_text__close {
  display: block;
}

@media screen and (max-width: 840px) {
  .el_humburger_text svg path {
    -webkit-transition: all 200ms cubic-bezier(0.16, 0.52, 0.25, 1);
    -o-transition: all 200ms cubic-bezier(0.16, 0.52, 0.25, 1);
    transition: all 200ms cubic-bezier(0.16, 0.52, 0.25, 1);
    fill: #152029;
  }
}

@media screen and (max-width: 840px) {
  .js_humburgerOpen .el_humburger_text svg path {
    fill: #152029;
  }
}

.el_humburger span.el_humburger_bar {
  display: block;
  width: 100%;
  margin: 0 auto 9px;
  height: 2px;
  background: #152029;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.el_humburger span.el_humburger_bar:last-child {
  margin-bottom: 0;
}

.js_humburgerOpen .el_humburger span.el_humburger_bar {
  background: #152029;
}

.js_humburgerOpen .el_humburger span.el_humburger_bar.top {
  -webkit-transform: translateY(13px) rotate(-45deg);
  -ms-transform: translateY(13px) rotate(-45deg);
  transform: translateY(13px) rotate(-45deg);
}

@media (max-width: 480px) {
  .js_humburgerOpen .el_humburger span.el_humburger_bar.top {
    -webkit-transform: translateY(11px) rotate(-45deg);
    -ms-transform: translateY(11px) rotate(-45deg);
    transform: translateY(11px) rotate(-45deg);
  }
}

.js_humburgerOpen .el_humburger span.el_humburger_bar.middle {
  opacity: 0;
}

.js_humburgerOpen .el_humburger span.el_humburger_bar.bottom {
  -webkit-transform: translateY(-11px) rotate(45deg);
  -ms-transform: translateY(-11px) rotate(45deg);
  transform: translateY(-11px) rotate(45deg);
}

.el_humburgerButton.el_humburgerButton__close {
  top: 2%;
  right: 2%;
}

.el_humburgerButton__close span.el_humburger_bar {
  display: block;
  width: 35px;
  margin: 0 auto;
  height: 4px;
  background: #152029;
}

.el_humburgerButton__close span.el_humburger_bar.top {
  -webkit-transform: translateY(5px) rotate(-45deg);
  -ms-transform: translateY(5px) rotate(-45deg);
  transform: translateY(5px) rotate(-45deg);
}

.el_humburgerButton__close span.el_humburger_bar.bottom {
  -webkit-transform: translateY(-6px) rotate(45deg);
  -ms-transform: translateY(-6px) rotate(45deg);
  transform: translateY(-6px) rotate(45deg);
}

.navi {
  position: fixed;
  right: 0;
  height: 100%;
  background-color: #f7f7f7;
  width: 0;
  z-index: 998;
  padding-top: 150px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 600ms ease-out;
  -o-transition: all 600ms ease-out;
  transition: all 600ms ease-out;
  overflow: hidden;
}

.navi .navi_inner {
  margin-left: 120px;
}

@media (max-width: 480px) {
  .navi .navi_inner {
    margin-left: 10vw;
  }
}

.js_humburgerOpen .navi {
  width: 450px;
}

@media (max-width: 480px) {
  .js_humburgerOpen .navi {
    width: 65vw;
  }
}

.navi_item {
  margin-bottom: 50px;
  white-space: nowrap;
  font-size: 30px;
  font-weight: 600;
}

@media (max-width: 480px) {
  .navi_item {
    margin-bottom: 30px;
    font-size: 20px;
  }
}

.navi_item.op_innerLink {
  cursor: pointer;
}

#overlay {
  display: none;
  transition: 0.3;
  width: 100vw;
  height: 100vh;
  z-index: 990;
  background-color: rgba(21, 32, 41, 0.6);
  position: fixed;
}
