$pink-color:#b96970;
$peal-pink-color:#e1d7d3;
$base-color:#f5f7f4;
$mm-color:#e5dbc6;
$yc-color:#e7d4d4;
$yg-color:#e2dfe5;
$f-color:#e3e4e6;


$tab: 1024px; // タブレット
$sp: 480px;  // スマホ

@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}


html{
    width: 100%;
    height: 100%;
}
body{
    background-color: $base-color;
    font-family: 'M PLUS Rounded 1c',sans-serif;
    color: #251d1c;
    margin: 0;
    width: 100vw;
    font-size: 13px;
    line-height: 2.1em;
    font-weight: lighter;
    word-break: break-all;
    @include tab { 
        font-size: 12px;
        .sp_br{
            display: none;
        }
    }

    p{
        margin: 0;
    }

    a{
        text-decoration: none;
        color: $pink-color;
    }
    
    header{
        position: fixed;
        z-index: 99;
        left: 7vw;
        top: 4vw;

        >img{
            width: auto;
            height: 55px;
            margin-bottom: 24px;
            @include sp { 
                height: 40px;
                margin-bottom: 40px;
            }
        }
        nav{
            list-style: none;
            @include sp { 
                display: none;
            }
            
            li{
                list-style: none;
                margin-bottom: 24px;
                height: 20px;
                display: flex;
                @include sp { 
                    margin-bottom: 10px;
                }
                a{
                    display: block;
                    width: 100%;
                }
                img{
                    height: 20px;
                    padding: 2px 6px;
                    // @include sp { 
                    //     height: 16px;
                    // }
                }
            }     
        }
        
    }
    .page-wrapper{
        .sita{
            font-weight: 400;
        }

        // 画面の左右の作品への誘導
        .guides{
            position: absolute;
            z-index: 99;
            @include sp { 
                visibility:hidden;
            }
            a{
                // color: #1F0000;
            }
            .guide{
                position: fixed;
                top: 50%;
                transform: translateY(-50%);
                text-align: center;
                p{
                    line-height: 0;
                    font-size: 13px;
                }
                
            }
            img{
                height: 80px;
                margin-bottom: 5px;
            }
            .previous{
                left: 7vw;
            }
            .next{
                right: 7vw;
            }
            .guide-yoko-img{
                img{
                    height: 46px;
                }
            }
        }

        .main-wrapper{
            
            .main-view{
                
                height: 500px;
                width: 100vw;
                // background-color: $mm-color;
                overflow:hidden;  
                display: flex;
                margin-bottom: 120px;

                @include sp { 
                    height: 400px;
                    margin-bottom: 40px;
                }

                
                .mv-img-wrap{
                    margin: 0 auto;
                    width: 1240px;
                    text-align: right;

                    @include sp { 
                        width: 275px;
                    }
                    .mv-img{
                        z-index: 90;
                        margin-bottom: 20px;
                        width: 900px;
                        height: auto;
                        opacity: 0.9;
                        @include tab { 
                            width: 1200px;
                            opacity: 0.6;
                        } 
                        @include sp { 
                            width: 150vw;
                            opacity: 0.6;
                        }   
                    }
                    .mv-pc-img{
                        opacity: 0.9;
                        z-index: 90;
                        // width: 64vw;
                        width: 980px;
                        height: auto;
                        @include tab { 
                            width:158vw;
                            opacity: 0.6;
                        }   
                        @include sp { 
                            width: 185vw;
                            opacity: 0.6;
                        }   
                        
                    }
                }
                .mv-img-wrap-pos{
                    @include tab { 
                        width: 400px;
                    }
                    @include sp { 
                        width: 210px;
                    }
                    .mv-pos-img{
                        @include tab { 
                            width: 110vw;
                        }
                        @include sp { 
                            width: 700px;
                        }
                    }
                }
                .mv-img-wrap-sp{
                    @include tab { 
                        width: 700px;
                    }
                    @include sp { 
                        width: 210px;
                    }
                }
                
                .mv-summary{
                    position: absolute;
                    left: 20vw;
                    top: 240px;
                    z-index: 99;
                    @include sp { 
                        top: 170px;
                    }
                    .mvs-title{
                        font-weight: 400;
                        font-size: 32px;
                        background-color: $base-color;
                        display: inline-block;
                    }
                    .mvs-date , .mvs-outline{
                        margin-bottom: 20px;
                    }
                }
            }

            .main-intro{          
                text-align: center;
                width: 60vw;
                margin: 0 auto;
                .concept-part{
                    // background-color: $mm-color;
                    width: 100vw;
                    margin-left: calc(((100vw - 100%) / 2) * -1);
                    margin-right: calc(((100vw - 100%) / 2) * -1);
                    padding: 0 calc((100vw - 100%) / 2);
                    .concept-subtitle{
                        background-color: $base-color;
                        
                    }
                    .bold-description{
                        font-weight: 500;
                    }

                }
                .part{
                    padding: 60px 0 50px 0;
                    .subtitle{
                        font-weight: 500;
                        font-size: 18px;
                        display: inline-block;
                        line-height: 1;
                        margin-bottom: 60px;
                        @include sp { 
                            font-size: 17px;
                        }
                        
                    }                
                    .center-description{
                        margin-bottom: 40px;
                    }

                    .bold-description{
                        font-weight: 400;
                        line-height: 1.7;
                        @include sp { 
                            width: 60vw;
                            margin: 0 auto;
                        }
                    }

                    .persona{
                        display: flex;
                        margin: 0 auto;
                        justify-content: center;
                        margin-bottom: 40px;
                        @include sp { 
                            display: block;
                        }
                        >img{
                            width: 100px;
                            margin-right: 30px;
                            @include sp { 
                                width: 90px;
                                margin-right: 0;
                            }
                        }
                        >p{
                            text-align: left;
                            margin-left: 30px;
                            @include sp { 
                                text-align: center;
                                margin-left: 0;
                            }
                        }    
                    }
                    .sub-part{
                        margin-bottom: 90px;
                        @include sp { 
                            margin-bottom: 0;
                        }
                        .ikkodake{
                            @include tab { 
                                margin-bottom: 20px;
                            }
                        }
                        .sub-subtitle{
                            font-size: 16px;
                            font-weight: 500;
                            margin-bottom: 30px;
                            @include sp { 
                                font-size: 15px;
                            }
                        }
                        .ny-dis{
                            margin-bottom: 80px;
                            @include sp { 
                                margin-bottom: 40px;
                            }
                        }
                        .sp-img-1{
                            margin-bottom: 60px;
                            @include tab { 
                                margin-bottom: 20px;
                            }
                            @include sp { 
                                margin-bottom: 20px;
                            }
                            .tana{
                                width: 350px;
                                height: auto;
                                margin-right: 30px;
                                @include tab { 
                                    width: 200px;
                                    margin-right: 0;
                                }
                                @include sp { 
                                    width: 130px;
                                    margin-right: 0;
                                }
                            }
                            
                            img:nth-child(2){
                                width: 120px;
                                height: auto;
                                top: -17px;
                                margin-left: 30px;
                                position: relative;
                                @include tab { 
                                    width: 50px;
                                    margin-left: 0;
                                }
                                @include sp { 
                                    width: 40px;
                                    margin-left: 0;
                                }
                            }
                        }
                        .sp-img-2{
                            margin-top: 70px;
                            margin-bottom: 60px;
                            @include sp { 
                                margin-bottom: 0;
                            }
                            .yubi-img{
                                width: 116px;
                                margin-right: 30px;
                                top: -39px;
                                position: relative;
                                @include sp { 
                                    width: 60px;
                                    margin-right: 2px;
                                }
                            }
                            img:nth-child(2){
                                width: 120px;
                                height: auto;
                                top: -17px;
                                margin-left: 30px;
                                position: relative;
                                @include sp { 
                                    width: 40px;
                                    top: -40px;
                                    margin-left: 2px;
                                }
                            }
                        }
                        .sp-split{
                            display: flex;
                            width: 45vw;
                            margin: 0 auto;
                            margin-bottom: 40px;
                            // @include tab { 
                            //     // width: 60vw;
                            //     display: inline-block;
                            //     margin-bottom: 10px;
                            // }
                            @include tab { 
                                width: 60vw;
                                display: inline-block;
                                margin-bottom: 10px;
                            }

                            // @include sp { 
                            //     width: 60vw;
                            //     display: inline-block;
                            //     margin-bottom: 10px;
                            // }
                            .pos-yoko{
                                @include tab { 
                                    width: 300px;
                                }
                                @include sp { 
                                    width: 190px;
                                }
                            }
                            >img{
                                width: 220px;
                                @include tab { 
                                    width: 105px;
                                    margin-bottom: 20px;
                                }
                            }
                            .sp-s-img{
                                width: 280px;
                                @include sp { 
                                    width: 190px;
                                }
                            }
                            .sp-pc-img{
                                width: 320px;
                                @include tab { 
                                    width: 400px;
                                    margin-bottom: 10px;
                                }
                                @include sp { 
                                    width: 190px
                                }
                            }
                            >p{
                                text-align: left;
                                padding-left: 40px;
                                @include tab { 
                                    text-align: center;
                                    padding-left: 0;
                                }
                            }
                            .third-des{
                                margin: 0 auto;
                            }
                        }
                        .logo-img{
                            width: 250px;
                            margin-bottom: 20px;
                            @include sp { 
                                width: 160px;
                            }
                        }
                        .color-img{
                            width: 100px;
                            margin-bottom: 20px;
                        }
                        .color-1-img{
                            width: 50px;
                            margin-bottom: 20px;
                        }
                        .color-yoko-img{
                            width: 500px;
                            margin-bottom: 20px;
                            @include tab { 
                                width: 300px
                            }
                            @include sp { 
                                width: 190px
                            }
                        }
                        .des-img{
                            margin: 50px 5px;
                            width: 170px;
                            @include tab { 
                                margin: 0 2px;
                                width: 135px;
                            }
                            @include sp { 
                                margin: 0 2px;
                                width: 90px;
                            }
                        }
                        .xd-img{
                            width: 700px;
                            @include tab { 
                                margin: 0 2px;
                                width: 400px;
                            }
                            @include sp { 
                                margin-top: 20px;
                                width: 190px;
                            }
                        }
                    }

                }
            }

        }
        .sp-yoko-img{
            width: 560px;
            height: auto;
            margin-bottom: 40px;
            @include tab { 
                width: 400px;
                margin-bottom: 10px;
            }
            @include sp { 
                width: 190px;
                margin-bottom: 10px;
            }
        }
        
        .ny , .ny-concept , .ny-subtitle{
            background-color: $peal-pink-color;
        }
        .mm , .mm-concept , .mm-subtitle{
            background-color: $mm-color;
        }
        .yc , .yc-concept , .yc-subtitle{
            background-color: $yc-color;
        }
        .f , .f-concept , .f-subtitle{
            background-color: $f-color;
        }
        .yg , .yg-concept , .yg-subtitle{
            background-color: $yg-color;
        }
        .p{
            background-color: $yc-color;
        }

        // スマホで見たときの画面下の作品への誘導
        .sp-guides{
            display: none;
            @include sp{
                display: flex;
                z-index: 99;
                margin: 0 auto;
                width: 60vw;
                padding-top: 60px;
                a{
                    // color: #1F0000;
                }
                .sp-guide{
                    // top: 50%;
                    transform: translateY(-50%);
                    text-align: center;
                    p{
                        line-height: 0;
                        font-size: 11px;
                    }
                    
                }
                img{
                    height: 80px;
                    margin-bottom: 5px;
                }
                .sp-previous{
                    margin: 0 auto;
                    left: 7vw;
                }
                .sp-next{
                    margin: 0 auto;
                    right: 7vw;
                }
                .sp-guide-yoko-img{
                    img{
                        height: 50px;
                        padding: 15px 0;
                    }
                }
            }
        }
    }

    footer{
        height: 56px;
        background-color:$peal-pink-color;
    }
}


/*ハンバーガーボタン*/
.el_humburger {
    display: none;
}

@include sp {
    .el_humburger {
        position: fixed;
        display: block;
        right: 0;
        top: 0;
        padding-top: 5vw;
        width: 70px;
        height: 70px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        z-index: 999;
        cursor: pointer;
        pointer-events: auto;
        color: #251d1c;
        text-align: center;
    }
    #factory .el_humburger {
        display: none; } 
    }

@include sp{
    .el_humburger_wrapper {
        display: inline-block;
        margin-bottom: 5px;
        width: 20px; } }

.js_humburgerOpen .el_humburger_text.el_humburger_text__menu {
    display: none; }

.el_humburger_text.el_humburger_text__close {
    display: none; }
    
    .js_humburgerOpen .el_humburger_text.el_humburger_text__close {
    display: block; }
    
    
    @media screen and (max-width: 840px) {
    .el_humburger_text svg path {
        -webkit-transition: all 200ms cubic-bezier(0.16, 0.52, 0.25, 1);
        -o-transition: all 200ms cubic-bezier(0.16, 0.52, 0.25, 1);
        transition: all 200ms cubic-bezier(0.16, 0.52, 0.25, 1);
        fill: #000; } }
    
    @media screen and (max-width: 840px) {
    .js_humburgerOpen .el_humburger_text svg path {
        fill: #000; } }
    
    .el_humburger span.el_humburger_bar {
    display: block;
    width: 100%;
    margin: 0 auto 9px;
    height: 1px;
    background: #251d1c;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
    
    .el_humburger span.el_humburger_bar:last-child {
    margin-bottom: 0; }
    
    .js_humburgerOpen .el_humburger span.el_humburger_bar {
    background: #251d1c; }
    
    // @media screen and (max-width: 840px) {
    // .el_humburger span.el_humburger_bar {
    //     left: 0;
    //     top: 0;
    //     background: #000; } }
    
    .js_humburgerOpen .el_humburger span.el_humburger_bar.top {
    -webkit-transform: translateY(9px) rotate(-45deg);
    -ms-transform: translateY(9px) rotate(-45deg);
    transform: translateY(9px) rotate(-45deg); }

    .js_humburgerOpen .el_humburger span.el_humburger_bar.middle {
        opacity: 0; }
    
    .js_humburgerOpen .el_humburger span.el_humburger_bar.bottom {
    -webkit-transform: translateY(-11px) rotate(45deg);
    -ms-transform: translateY(-11px) rotate(45deg);
    transform: translateY(-11px) rotate(45deg); }
    
    .el_humburgerButton.el_humburgerButton__close {
    top: 2%;
    right: 2%; }
    
    .el_humburgerButton__close span.el_humburger_bar {
    display: block;
    width: 35px;
    margin: 0 auto;
    height: 4px;
    background: #251d1c; }
    
    .el_humburgerButton__close span.el_humburger_bar.top {
    -webkit-transform: translateY(5px) rotate(-45deg);
    -ms-transform: translateY(5px) rotate(-45deg);
    transform: translateY(5px) rotate(-45deg); }
    
    .el_humburgerButton__close span.el_humburger_bar.bottom {
    -webkit-transform: translateY(-6px) rotate(45deg);
    -ms-transform: translateY(-6px) rotate(45deg);
    transform: translateY(-6px) rotate(45deg); }

    .navi {
        position: fixed;
        right: 0;
        height: 100%;
        background-color:$base-color;
        width: 0;
        z-index: 998;
        padding-top: 100px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 600ms ease-out;
        -o-transition: all 600ms ease-out;
        transition: all 600ms ease-out;
        overflow: hidden; 
    }
        .js_humburgerOpen .navi {
        width: 450px; 
        }
        @media screen and (max-width: 840px) {
            .js_humburgerOpen .navi {
            width: 45%;
            padding: 100px 5% 0; 
            } 
        }
    
    .navi_item {
        margin-bottom: 28px;
        white-space: nowrap;
        img{
            height: 20px;
            padding: 2px 6px;
        }
    }
    .navi_item.op_innerLink {
        cursor: pointer; 
    }

#overlay{
    display: none;
    transition: 0.3;
    width:100vw;
    height: 100vh;
    z-index: 990;
    background-color: rgba(37,29,28,0.6);
    position: fixed;
}